@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&display=swap');

.image.is-256x256 {
  width: 256px;
  height: 256px;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}
